body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;    /* horizontal */
    align-items: center;        /* vertical */
    min-height: 100vh;
    background: #e6ede9;
    margin: 0;
}

.container {
    width: 600px;
    background: rgb(248, 250, 246);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#quote-display {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.correct {
    color: green;
}

.wrong {
    color: crimson;
}

.correctSpace {
    background-color: rgb(218, 243, 218);
}

.wrongSpace {
    background-color: rgb(238, 210, 216);
}

#quote-input {
    width: 95%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    padding: 0.5rem;
    border-radius: 8px;
    border: 2px solid #ddd;
    margin: 1rem 0rem;
}

#quote-input:focus {
    outline: none;
    border-color: rgb(178, 178, 178);
}

#start-btn {
    margin-top: 1rem;
    padding: 0.75rem 1.25rem;
    background: #6a6a6a;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.5s, transform 0.2s ease;
}

#start-btn:hover {
    background: rgb(123, 199, 159);
    transform: scale(1.05);
}

#results {
    margin-top: 1rem;
    font-size: 1.2rem;
}

#results p {
    margin: 0.3rem 0;
    font-weight: 500;
}